/*   Header   */

.logo-cont {
  display: inline-block;
  padding-top: 1.5rem;
}

.logo {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/*  layout  */
body{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 }
@media (min-width: 420px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 780px) {
  body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 5fr;
  }
}

main {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

@media (min-width: 780px) {
  main {
    display: grid;
    gap: 4rem;
    grid-template-columns: 3fr 1fr;
    padding-top: 8rem;
    padding: 3rem 0;
    margin: 0 auto;
  }
}

/*  textarea  */
.input-css,
.input-css::placeholder {
  background-color: var(--white);
  font-size: 2.3rem;
}
.input-css::placeholder {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0 0 0;
}

textarea,
textarea::placeholder{
  background-color: transparent;
  color: #0a3871;
  border: none;
  font-family: "Inter";
  resize: vertical;
  height: auto;
}
@media (min-width:780px){
  textarea,
textarea::placeholder {
  
  font-weight: 400;
  font-size: 3rem;

}
.transplaceholder::placeholder {
  font-size: smaller;
  color: #343a40;
}
}

.traductor-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertencia {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width:768px){
  .advertencia{
    justify-content: left;

  }
}
.alert {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}
/* sidebar*/

.sidebar {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border: 1px solid white;
  border-radius: 1.5rem;
  text-align: center;
  justify-content: center;
}
@media (min-width: 420px){
  .sidebar{
    margin: 2rem;
  padding: 1rem;
  }
}

.sinJustify {
  justify-content: unset !important;
}

.muñeco {
  display: none;
}
@media (min-width: 420px) {
  .muñeco {
    display: none;
  }
}

@media (min-width: 768px) {
  .muñeco {
    display: block;
    width: 25rem;
    height: 25rem;
  }
}

/*  Botones */

.botones-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 768px) {
  .botones-cont {
    flex-direction: row;
    justify-content: center;
  }
}

.boton {
  text-align: center;
  border-radius: 2.2rem;
  padding: 2rem 2rem;
  cursor: pointer;
}
@media (min-width:780px){
  .boton{
    width: 100%;
    padding: 2rem 8rem;
  }
}
.boton-1 {
  background-color: var(--dark-blue500);
  color: white;
  width: 100%;
}
.boton-2 {
  border: 1px solid var(--dark-blue300);
  background-color: #d8dfe8;
  width: 100%;
  color: var(--dark-blue500);
}
.boton-3 {

  visibility: hidden;
  width: 100%;
  background-color: transparent;
}
